body {
    font-family: Arial, sans-serif;
    background-image: url('https://raw.githubusercontent.com/sjos666/Nordheim24/main/background.jpg'); /* Direktlink aus GitHub */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #4A752C;
    text-align: center;
    padding: 20px;
}
.logo {
    display: block;
    margin: 0 auto;
    background: none;
    max-width: 300px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product {
    background-color: #F5E6CA;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}
/* Stil für den Produkt-Banner */
.product-banner {
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8); /* Halbtransparenter Hintergrund */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.banner-content {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0;
    animation: scrollBanner 15s linear infinite;
}

.banner-content span {
    display: inline-block;
    margin-right: 50px; /* Abstand zwischen den Produkten */
    font-size: 1.2em;
    color: #333;
}

@keyframes scrollBanner {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}