body {
    font-family: Arial, sans-serif;
    background-image: url('https://raw.githubusercontent.com/sjos666/Nordheim24/main/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding: 20px;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.categories a {
    display: block;
    margin: 10px;
    padding: 10px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.categories a:hover {
    background: #45a049;
}

.product {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

